@{
    ViewData["Title"] = "Brak dostępu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center text-danger">
        <h1>Brak dostępu</h1>

        <p>Nie masz uprawnień do przeglądania tej strony. Skontaktuj się z administratorem.</p>
    </div>
