
@{
    ViewData["Title"] = "Weryfikacja E-mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Weryfikacja E-mail</h1>
<p>Email został wysłany na Twoją skrzynkę pocztową. Sprawdź pocztę i potwierdź rejestrację.</p>

